<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fintrackicon"
        android:label=""
        android:roundIcon="@drawable/fintrackicon"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.FinTrack"
        tools:targetApi="31" >
        <activity
            android:name=".presentation.CategoryListsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.FinTrackActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.CategoryIconActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.CategoryColorActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ExpensesActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.FinTrackSplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>